:root {
  --background-color: #ffffff;
  --h2-h3-text-color: #212121;
  --text-color: #757575;
  --two-text-color: #ffffff;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --footer-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --btn-color: #f5f4fa;
}

body {
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* ШАПКА САЙТА */

.span {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h2-h3-text-color);
}

.info-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
  color: var(--accent-color);
}

.info .info-link:hover,
.info .info-link:focus {
  color: var(--accent-color);
}

/* ГЛАВНЫЙ ЭКРАН */

.title {
  background-color: #2f303a;
  color: var(--two-text-color);
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-first {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--two-text-color);
  background-color: var(--accent-color);
}

/* СЕКЦИЯ 2 */

.title-section {
  font-size: 36px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--h2-h3-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* СЕКЦИЯ 4 */

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ФУТЕР */

.address {
  font-style: normal;
}

.footer {
  background-color: var(--footer-color);
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  letter-spacing: 0.03em;
  color: var(--two-text-color);
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--two-text-color);
}

.address-link-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}

.address .address-link:focus,
.address .address-link:hover {
  color: var(--accent-color);
}

.address .address-link-footer:focus,
.address .address-link-footer:hover {
  color: var(--accent-color);
}

/* CSS ДЛЯ СТРАНИЦЫ ПОРТФОЛИО */

.filter-btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--h2-h3-text-color);
  background-color: var(--btn-color);
}

.filter .filter-btn:hover,
.filter .filter-btn:focus {
  color: var(--two-text-color);
  background-color: var(--accent-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h2-h3-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
